.auth.global-search-results-page .searched-item,
.auth .pagination--results .pagination__numbered-wrapper .pagination__numbered-items,
.auth .page-flipper .page-flipper__select-wrapper a.dropdown-button,
h4.filter-by-heading, 
.filter--panel__section-header,
.auth .drop--menu .menu--content .pag-page-selector:not(.dealer--info) a:not(.button):not(.close) {
	
        font-family: Roboto Condensed Bold;
    
    
    
        text-transform: capitalize;
    
    
        color: #000000;
    
}

a{
    text-decoration: none;
    background-color: transparent;
}


.auth h2, .auth .shopping-tools--section .shopping-tools--intro h2 {
    font-family: Roboto Condensed Bold;
    text-transform: capitalize;
    color: #2f2f2f;
}



.auth.global-search-results-page .filter--panel .return-link::before {
    display: inline-block;
    transform: rotate(-45deg);
    transition: border-color .2s;
    margin: 0 0 1px 5px;
    border-style: solid;
    padding: 3px;
    content: ''
}

.auth.global-search-results-page .filter--panel .return-link::before {
    margin-right: 5px;
    border-width: 2px 0 0 2px
}

.auth.global-search-results-page .global-search-results-form {
    display: flex;
    position: relative;
    margin-bottom: 20px
}

.auth.global-search-results-page .global-search-results-form .suggestionBox {
    top: 56px;
    padding: 0;
    position: absolute;
    text-indent: 0;
    z-index: 22;
    margin-left: 10px
}

.auth.global-search-results-page .global-search-results-form .suggestionBox .sug,.auth.global-search-results-page .global-search-results-form .suggestionBox .suggestionBoxHeading {
    line-height: 20px;
    padding: 12px 10px
}

.auth.global-search-results-page .global-search-results-form .suggestionBox .sug:hover,.auth.global-search-results-page .global-search-results-form .suggestionBox .sug:focus {
    cursor: pointer
}

.auth.global-search-results-page .global-search-results-form .button-primary {
    cursor: pointer;
    height: 40px;
    margin-top: 10px;
    width: 150px;
    padding: .525rem .65rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.auth.global-search-results-page .global-search-results-form .float-container {
    padding: 0 8px;
    position: relative;
    margin-right: 15px;
    margin-left: 10px;
    height: 58px
}

.auth.global-search-results-page .global-search-results-form .float-container i {
    position: relative;
    transform-origin: top left;
    transform: translate(0,4px) scale(1);
    margin-right: 6px;
    top: 9px
}

.auth.global-search-results-page .global-search-results-form .float-container input {
    margin-left: 20px;
    font-size: 16px;
    outline: 0;
    cursor: pointer;
    height: 23px;
    transition: all 0 ease-out;
    padding: 0 15px !important
}

.auth.global-search-results-page .global-search-results-form .float-container label {
    position: relative !important;
    transform-origin: top left;
    transform: translate(0,4px) scale(1) !important;
    line-height: 16px !important;
    display: inline-flex !important;
    left: 0 !important;
    width: 70% !important
}

.auth.global-search-results-page .global-search-results-form .float-container.active label {
    transform: translate(0,2px) scale(0.75) !important
}

.auth.global-search-results-page .pfp-filter-tag-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.auth.global-search-results-page .pfp-filter-tag-wrapper .clear-all {
    height: 24px;
    margin: 0 10px 10px 0
}

.auth.global-search-results-page .pfp-filter-tag-wrapper .clear-all .pfp-filter-tag {
    margin: 0
}

.auth.global-search-results-page .pfp-filter-tag-wrapper .pfp-filter-tag {
    font-size: 14px;
    line-height: 24px;
    border-radius: 2px;
    text-transform: uppercase;
    margin: 0 10px 10px 0;
    user-select: none;
    display: inline-block
}

.auth.global-search-results-page .pfp-filter-tag-wrapper .pfp-filter-tag:hover,.auth.global-search-results-page .pfp-filter-tag-wrapper .pfp-filter-tag:focus {
    cursor: pointer
}

.auth.global-search-results-page .pfp-filter-tag-wrapper .pfp-filter-tag .tag-inner {
    position: relative;
    float: left
}

.auth.global-search-results-page .pfp-filter-tag-wrapper .pfp-filter-tag .tag-inner:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 12px;
    top: 6px;
    right: 0
}

.auth.global-search-results-page .pfp-filter-tag-wrapper .pfp-filter-tag .material-icons {
    font-size: 12px;
    position: absolute;
    top: 6px;
    left: 12px;
    cursor: pointer
}

.auth.global-search-results-page .pfp-filter-tag-wrapper .pfp-filter-tag .material-icons:hover,.auth.global-search-results-page .pfp-filter-tag-wrapper .pfp-filter-tag .material-icons:focus {
    border-radius: 7px;
    padding: 1px
}

.auth.global-search-results-page .pfp-filter-tag-wrapper .pfp-filter-tag span {
    margin: 0 12px 0 36px
}

.auth.global-search-results-page .pfp-filter-tag-wrapper .pfp-filter-tag span span {
    margin: 0
}

.auth.global-search-results-page .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0
}

.auth.global-search-results-page .sr-only-focusable:active,.auth.global-search-results-page .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal
}

.auth.global-search-results-page .mobile-filter-control {
    display: none;
    content-visibility: auto;
    width: 100vw;
    height: 48px;
    position: relative;
    right: 50%;
    left: 50%;
    padding: 15px 30px;
    margin: 0 -50vw 15px;
    background: white;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0
}

.auth.global-search-results-page .mobile-filter-control h3 {
    margin: 0;
    float: left
}

.auth.global-search-results-page .mobile-filter-control .toggle-filter-switch {
    float: right
}

.auth.global-search-results-page .filter--panel {
    float: left;
    width: 100%;
    padding: 30px;
    border-width: 1px;
    border-style: solid;
    border: 1px solid #ddd;
    background: white
}

.auth.global-search-results-page .filter--panel .return-link {
    display: none;
    content-visibility: auto
}

.auth.global-search-results-page .filter--panel__header {
    float: left;
    width: 100%;
    margin-bottom: 10px
}

.auth.global-search-results-page .filter--panel__header h4 {
    float: left
}

.auth.global-search-results-page .filter--panel__header .clear-all {
    float: right;
    cursor: pointer
}

.auth.global-search-results-page .filter--panel__header .clear-all[disabled] {
    pointer-events: none
}

.auth.global-search-results-page .filter--panel__section-header {
    font-size: 14px;
    line-height: 1.1em;
    margin-bottom: 0
}

.auth.global-search-results-page .filter--group {
    float: left;
    width: 100%;
    border-width: 1px 0 0 0;
    border-style: solid;
    padding: 15px 0
}

.auth.global-search-results-page .filter--group:last-of-type {
    border-width: 1px 0 1px 0
}

.auth.global-search-results-page .filter--group--borderless {
    border: 0;
    padding: 0
}

.auth.global-search-results-page .filter--group .acc-header {
    text-transform: uppercase;
    position: relative;
    float: left;
    width: 100%;
    cursor: pointer;
    margin: 0
}

.auth.global-search-results-page .filter--group .acc-header::after {
    position: absolute;
    top: calc(50% - 6px);
    right: 1px;
    content: "";
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 0 0 3px 10px;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    border-style: solid
}

.auth.global-search-results-page .filter--group .acc-header.opened::after {
    top: calc(50% - 1px);
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg)
}

.auth.global-search-results-page .filter--group .filter--inner {
    float: left;
    width: 100%;
    display: none;
    content-visibility: auto;
    margin-top: 15px
}

.auth.global-search-results-page .filter--group .filter--inner form {
    margin-bottom: 0
}

.auth.global-search-results-page .filter--group .filter--inner label {
    font-size: 16px;
    display: inline-flex;
    margin-bottom: 6px;
    margin-top: 6px;
    cursor: pointer
}

.auth.global-search-results-page .filter--group .filter--inner ul {
    margin: 0 0 0 10px;
    font-weight: bold
}

.auth.global-search-results-page .filter--group .filter--inner ul li {
    font-size: 13px;
    line-height: 26px
}

.auth.global-search-results-page .filter--group .filter--inner .menu-list {
    margin-left: 0
}

.auth.global-search-results-page .filter--group .filter--inner .menu-list ul {
    margin-left: 15px;
    margin-top: 7px
}

.auth.global-search-results-page .filter--group .filter--inner .menu-list li {
    font-size: 14px;
    line-height: 1.3em;
    font-weight: normal
}

.auth.global-search-results-page .filter--group .filter--inner .menu-list li:not(:first-child) {
    margin-top: 7px
}

.auth.global-search-results-page .filter--group .filter--inner .menu-list a {
    text-transform: none;
    font-weight: normal
}

.auth.global-search-results-page .filter--group .filter--inner .menu-list i {
    font-size: 16px;
    position: relative;
    top: 3px
}

.auth.global-search-results-page .filter--group .filter--inner-visible {
    display: block
}

.auth.global-search-results-page .filter--group__link {
    border-bottom: 0
}

.auth.global-search-results-page .filter--panel__footer {
    display: none;
    content-visibility: auto
}

.auth.global-search-results-page .global-search-form {
    padding: 15px 0 15px 15px;
}

.auth.global-search-results-page .searched-item {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left
}

.auth.global-search-results-page .search-results-section-heading p,.auth.global-search-results-page .search-results-section-heading a {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left
}

.auth.global-search-results-page .search-results-section-heading .searched-item-title {
    margin-bottom: 0
}

.auth.global-search-results-page .search-results-section-heading a:not(:nth-child(-n+7)) {
    display: none
}

.auth.global-search-results-page input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    border-radius: 2px;
    padding: 0;
    accent-color: #ffcd11;
}

.auth.global-search-results-page input[type="checkbox"]::before {
    height: 18px;
    width: 18px;
    float: left;
    text-align: center;
    margin-right: 7px
    
}

.auth.global-search-results-page input[type="checkbox"]:hover:not(:checked)::before {
    height: 18px;
    width: 18px;
    float: left;
    text-align: center;
    margin-right: 7px;

}

.auth.global-search-results-page input[type="checkbox"]:hover:not(:checked)::after {
    position: absolute;
    top: -8px;
    left: -8px;
    height: 34px;
    width: 34px;
    visibility: visible;
    z-index: 1
    
}

.auth.global-search-results-page input[type="checkbox"]:focus {
    visibility: visible
}

.auth.global-search-results-page .searchChecked {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    visibility: hidden;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2px;
    padding: 0
}

.auth.global-search-results-page .searchChecked::before {
    height: 18px;
    width: 18px;
    float: left;
    text-align: center;
    margin-right: 7px
}

.auth.global-search-results-page .searchChecked:checked::before {
    content: "done";
    font-family: "Material Icons"
}

.auth.global-search-results-page .searchChecked:hover:not(:checked)::before {
    height: 18px;
    width: 18px;
    float: left;
    text-align: center;
    margin-right: 7px
}

.auth.global-search-results-page .searchChecked:hover:not(:checked)::after {
    position: absolute;
    top: -8px;
    left: -8px;
    height: 34px;
    width: 34px;
    visibility: visible;
    z-index: 1
}

.auth.global-search-results-page .search-results-page-body {
    padding-top: 30px;
    background-color: #f8f8f8;
}

.auth.global-search-results-page .search-results-page-body .search-results-error {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px
}

.auth.global-search-results-page .search-results-page-body .search-results-error .search-results-error-icon {
    font-size: 59px
}

.auth.global-search-results-page .search-results-page-body .search-results-error .search-results-error-icon h4 {
    text-transform: none
}

.auth.global-search-results-page .search-results-list {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.auth.global-search-results-page .search-results-list__item {
    border-radius: 5px;
    margin-top: 15px;
    padding: 20px 30px;
    border: 1px solid #cccccc !important;
    background: #fff;
    font-family: Noto Sans Regular !important;
    line-height: 1.2 !important;
    
}

.auth.global-search-results-page .search-results-list__item:hover {
    text-decoration: none;
}

.auth.global-search-results-page .search-results-list__item:last-of-type {
    margin-bottom: 20px
}

.auth.global-search-results-page .search-banner {
    padding: 40px 0 20px 0
}

.auth.global-search-results-page .search-banner .search-banner-content .search-banner-image img {
    max-width: 108px;
    width: 90px;
    margin: 38px;
    top: 5%;
    transform: translate(-20%,-55%)
}

.auth.global-search-results-page .search-banner .search-banner-content .featured-results-icon {
    font-size: 12px;
    border-radius: 8px;
    position: relative;
    top: -25px;
    height: 18px;
    padding: 0 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    line-height: 16px;
    float: right
}

.auth.global-search-results-page .search-banner .search-banner-content .search-banner-content-only {
    padding-left: 30px;
    padding-right: 45px
}

.auth.global-search-results-page .search-banner .search-banner-content .search-banner-content-only.col-12 {
    padding-left: 50px;
    padding-right: 45px
}

.auth.global-search-results-page .search-results-content:hover {
    text-decoration: none
}

.auth.global-search-results-page .search-results-content:focus {
    outline: 20px solid
}

.auth.global-search-results-page .search-results-content__body {
    flex: 1;
    margin-left: 0;
    margin-right: 0
}

.auth.global-search-results-page .search-results-heading {
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 5px
}

.auth.global-search-results-page .search-results-subheading {
    font-size: 14px;
    margin-bottom: 0
}

.auth.global-search-results-page .search-results-links {
    margin-top: 4px
}

.auth.global-search-results-page .search-results-content__title {
    line-height: 1.35em;
    font-size: 20px
}

#searchResultsDiv {
    width: 100vw
}

.auth.global-search-results-page .result-content__img {
    display: block;
    width: 83px;
    max-width: 83px;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    transform: translate(-10%,-50%)
}

.auth.global-search-results-page .page-flipper {
    width: auto;
    padding: 0;
    max-width: none;
    left: auto;
    bottom: auto
}

.auth.global-search-results-page .page-flipper__select-wrapper a.dropdown-button {
    height: 42px;
    display: flex;
    border: 0;
    align-items: center;
    padding: 5px 35px 0 15px
}

.auth.global-search-results-page .filter--panel ul[data-toggle-group]:not(.show) {
    display: none;
    content-visibility: auto;
}


.auth .global-search-results-page .search-results-list__item a:hover {
    text-decoration: none
}

.auth .global-search-results-page .search-results-list__item:hover, .auth .global-search-results-page .search-results-list__item:focus {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
    .auth.global-search-results-page .result-content__img {
        display:block;
        width: 90px;
        max-width: 108px;
        flex-shrink: 0;
        position: absolute;
        top: 50%;
        transform: translate(-10%,-50%)
    }

    .auth.global-search-results-page .search-results-links {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical
    }
}

@media screen and (max-width: 990px) {
    .auth.global-search-results-page .mobile-filter-control {
        display:flex
    }

    .auth.global-search-results-page .pfp-left-col {
        position: unset
    }

    .auth.global-search-results-page .filter--panel {
        position: fixed;
        height: 100vh;
        left: -100vw;
        top: 0;
        padding: 0 30px;
        border: 0;
        z-index: 9999;
        -moz-transition: all .4s ease;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        visibility: hidden
    }

    .auth.global-search-results-page .filter--panel .return-link {
        display: block;
        position: relative;
        right: 50%;
        left: 50%;
        padding: 13px 30px;
        margin: 0 -50vw;
        text-transform: uppercase;
        width: 100vw
    }

    .auth.global-search-results-page .filter--panel .return-link::after {
        display: none;
        content-visibility: auto
    }

    .auth.global-search-results-page .filter--panel.opened {
        left: 0;
        overflow-y: auto;
        overflow-x: hidden;
        visibility: visible
    }

    .auth.global-search-results-page .filter--panel__body {
        overflow-x: hidden;
        overflow-y: auto;
        min-height: calc(100vh - 150px);
        padding: 35px 0
    }

    .auth.global-search-results-page .filter--panel__footer {
        display: flex;
        border-width: 1px 0 0;
        border-style: solid;
        padding: 30px 30px;
        width: 100vw;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        position: sticky;
        bottom: 0;
        margin: 0 0 0 -30px
    }

    .auth.global-search-results-page .filter--panel__footer .button {
        width: 100%;
        max-width: 100%
    }
}

@media screen and (max-width: 767px) {
    .auth.global-search-results-page .global-search-results-form .suggestionBox {
        margin-left:7px;
        z-index: 21
    }

    .auth.global-search-results-page .global-search-results-form .suggestionBox .sug,.auth.global-search-results-page .global-search-results-form .suggestionBox .suggestionBoxHeading {
        line-height: 25px;
        padding: 5px 10px
    }

    .auth.global-search-results-page .global-search-results-form .float-container {
        margin-left: 7px
    }

    .auth.global-search-results-page .global-search-results-form .button-primary {
        padding: .5625rem .65rem;
        width: 110px
    }

    .auth.global-search-results-page .searched-item {
        margin-left: 0;
        margin-right: 30px
    }

    .auth.global-search-results-page .search-results-container {
        margin-left: 15px;
        margin-right: 15px
    }

    .auth.global-search-results-page .search-results-page-body .container {
        padding-left: 0 !important;
        padding-right: 0 !important
    }

    .auth.global-search-results-page .search-results-page-body .search-results-list__item {
        padding: 20px 0
    }

    .auth.global-search-results-page .search-results-page-body .search-results-content-description {
        padding-left: 50px
    }

    .auth.global-search-results-page .search-results-page-body .search-banner {
        padding: 40px 0 0 0
    }

    .auth.global-search-results-page .search-results-page-body .search-banner .search-banner-content .search-banner-image img {
        max-width: 83px;
        width: 83px;
        margin: 0;
        top: 50%;
        transform: translate(-10%,-55%)
    }

    .auth.global-search-results-page .search-results-page-body .search-banner .search-banner-content .search-banner-content-only {
        padding-left: 50px;
        padding-right: 20px
    }

    .auth.global-search-results-page .search-results-page-body .search-banner .search-banner-content .search-banner-content-only.col-12 {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media screen and (max-width: 380px) {
    .auth.global-search-results-page .page-flipper__select-wrapper a.dropdown-button {
        padding:0 25px 0 10px;
        font-size: 11px
    }

    .auth.global-search-results-page .global-search-results-form .button-primary {
        padding: .5625rem .65rem;
        width: 85px
    }
}

.auth .pagination--results .pagination__numbered-wrapper .page-flipper__button--next::after {
    position: relative
}

.auth .pagination--results .pagination__numbered-wrapper .page-flipper__button--next::after,.auth .pagination--results .pagination__numbered-wrapper .page-flipper__button--prev::before,.auth .pagination--results .pagination__numbered-wrapper .page-flipper__select-wrapper::after {
    display: inline-block;
    transform: rotate(-45deg);
    transition: border-color .2s;
    margin: 0 0 1px 5px;
    border-style: solid;
    padding: 3px;
    content: ''
}

.auth .pagination--results .pagination__numbered-wrapper .page-flipper__button--next::after {
    border-width: 0 2px 2px 0
}

.auth .pagination--results .pagination__numbered-wrapper .page-flipper__button--prev::before {
    margin-right: 5px;
    border-width: 2px 0 0 2px
}

.auth .pagination--results .pagination__numbered-wrapper .page-flipper__select-wrapper::after {
    border-width: 0 0 2px 2px
}

.auth .drop--menu {
    position: relative
}

.auth .drop--menu .dropdown-button.open+.menu--content {
    display: inline
}

.auth .drop--menu .menu--content {
    display: none;
    max-width: 225px;
    min-width: 225px;
    border-radius: 5px;
    float: left;
    width: 100%;
    position: absolute;
    left: 0;
    top: 45px;
    margin: 0;
    z-index: 9999
}

.auth .drop--menu .menu--content::after {
    bottom: calc(100% - 1px);
    left: 15%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.auth .drop--menu .menu--content li:not(.dealer--info) {
    float: left;
    width: 100%
}

.auth .drop--menu .menu--content li:not(.dealer--info):first-of-type {
    border-top-left-radius: 5px
}

.auth .drop--menu .menu--content li:not(.dealer--info):first-of-type a:not(.button):not(.close) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.auth .drop--menu .menu--content li:not(.dealer--info):last-of-type {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}

.auth .drop--menu .menu--content li:not(.dealer--info) h3 {
    margin: 0 0 17px;
    text-align: center
}

.auth .drop--menu .menu--content li:not(.dealer--info) a:not(.button):not(.close) {
    float: left;
    width: 100%;
    text-transform: uppercase;
    padding: 15px 30px 15px 26px
}

.auth .drop--menu .menu--content li:not(.dealer--info) a:not(.button):not(.close):hover {
    text-decoration: none
}

.auth .drop--menu .menu--content li:not(.dealer--info):first-of-type {
    border-top-right-radius: 5px
}

.auth .drop--menu .menu--content li:not(.dealer--info):last-of-type a:not(.button) {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}

.auth .pagination--results {
    margin: 0 0 18px 0
}

.auth .pagination--results span {
    text-transform: uppercase
}

.auth .pagination--results .pagination__numbered-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center
}

.auth .pagination--results .pagination__numbered-wrapper .pagination__numbered-items {
    margin-top: 5px
}

.auth .pagination--results .pagination__numbered-wrapper .pagination__numbered-dropdowns {
    display: flex
}

.auth .pagination--results .pagination__numbered-wrapper .pagination__numbered-dropdowns .page-flipper__select-wrapper.per-page {
    padding-bottom: 3px !important
}

.auth .pagination--results .pagination__numbered-wrapper .page-flipper {
    position: relative;
    z-index: 1;
    border: 0
}

.auth .pagination--results .pagination__numbered-wrapper .page-flipper .menu--content>ul {
    margin: 0;
    padding-left: 0;
    display: flex
}

.auth .pagination--results .pagination__numbered-wrapper .page-flipper .menu--content>ul li:nth-of-type(2) {
    text-align: center;
    flex-grow: 2;
    border-top: 1px solid #ddd;
    border-bottom: 0
}

.auth .pagination--results .pagination__numbered-wrapper .page-flipper__button {
    padding: 12px 14px;
    display: list-item
}

.auth .pagination--results .pagination__numbered-wrapper .page-flipper__button::before,.auth .pagination--results .pagination__numbered-wrapper .page-flipper__button::after {
    position: relative;
    z-index: -1
}

.auth .pagination--results .pagination__numbered-wrapper .page-flipper__select-wrapper {
    position: relative
}

.auth .pagination--results .pagination__numbered-wrapper .page-flipper__select-wrapper::after {
    position: absolute;
    right: 15px;
    top: 16px;
    z-index: -1
}

.auth .pagination--results .pagination__numbered-wrapper .page-flipper select {
    border: 0;
    padding: 7px 33px 7px 11px;
    background: 0;
    text-align: center;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
    height: 42px;
    width: 100%
}

.auth .pagination--results .pagination__numbered-wrapper .page-flipper select::-ms-expand {
    display: none
}

.auth .pagination--results .pagination__numbered-wrapper .page-flipper select:hover {
    cursor: pointer
}

.auth .pagination--results .pagination__numbered-wrapper .page-flipper select:hover,.auth .pagination--results .pagination__numbered-wrapper .page-flipper select:active {
    outline: 0
}

.auth .pagination--results .pagination__numbered-wrapper .page-flipper+.page-flipper {
    margin-left: 15px
}

.auth .pagination--results .pagination__menu.drop--menu .dropdown-button.open::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.auth .pagination--results .pagination__menu.drop--menu .menu--content {
    max-width: none;
    min-width: 0;
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 2px;
    top: 42px;
    left: -1px;
    width: auto;
    right: -1px
}

.auth .pagination--results .pagination__menu.drop--menu .menu--content::after {
    content: none
}

.auth .pagination--results .pagination__menu.drop--menu .menu--content li {
    background: #f8f8f8
}

.auth .pagination--results .pagination__menu.drop--menu .menu--content li:first-of-type a {
    border-top: 0
}

.auth .pagination--results .pagination__menu.drop--menu .menu--content li:nth-of-type(2) a {
    border-top: 1px solid #ddd
}

.auth .pagination--results .pagination__menu.drop--menu .menu--content li:hover {
    background: white
}

.auth .pagination--results .pagination__menu.drop--menu .menu--content li a:not(.button):not(.close) {
    padding: 10px 15px;
    border-left: 0;
    border-right: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden
}

@media screen and (max-width: 768px) {
    .auth .pagination--results {
        margin:15px 0 18px 0
    }

    .auth .pagination--results .pagination__numbered-wrapper span {
        flex: 1 0 100%;
        max-width: 100%;
        margin-bottom: 7px
    }

    .auth .pagination--results .pagination__numbered-wrapper .page-flipper__select-wrapper::after {
        right: 10px
    }

    .auth .pagination--results .pagination__numbered-items {
        margin-bottom: 10px
    }
}

.auth .drop--menu .menu--content .close::after {
    display: none !important
}
